<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="BinaryWarfare" connectionString="Server=6d831d6f-bab5-4b55-b5bc-a21a00ad5691.sqlserver.sequelizer.com;Database=db6d831d6fbab54b55b5bca21a00ad5691;User ID=unkpksqgvhwjvmez;Password=fpqWWGjtr7cSd8Xv2ynA33oDcs5obhHm8Qi4jf6pwetAR5mYCFCzqSckbTTCL4ri;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>