<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="BinaryWarfare" connectionString="Server=a85c76e5-7448-4919-ac44-a21a0125a426.sqlserver.sequelizer.com;Database=dba85c76e574484919ac44a21a0125a426;User ID=abgzswqvfcpdlppe;Password=UTeapKcAvARbrBQ7J4f2sH3xYru82Q8DWkKuGz3ybVHqjKGTxNFFESYkYPi6qcGN;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>